.header{
    display: flex;
    height: 55px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    color: #fff;
    position: sticky;
    top: 0;
    z-index: 100;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    background-color: #000;
   
}

.header a{
    text-decoration: none;
    color: #fff;
    margin-right: 10px;
}

.header a:hover{
    color: #ff6600;
}

.logo{
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.logo span{
    color: #ff6600;
}
